* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  padding: 60px 30px;
  height: 100vh;
  background-color: antiquewhite;
  background-image: url("bg.jpg");
  background-size: 100% 110%;
}

.Container {
  width: 500px;
  height: 600px;
  margin: 5% 15% 2.6% auto; /* t r b l */
  border-radius: 1%;
  padding: 5px auto 0 0;
  background-color: rgba(245, 245, 220, 0.589);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(25px);
}

.btn {
  border-bottom: #3f51b5;
  background-color: #4caf50; /* Green */
  border: none;
  background-color: rgba(245, 245, 220, 0.589);
  /* padding: 16px 32px;*/
  text-align: center;
  font-size: 16px;
  /*margin: 4px 2px;*/
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn {
  background-color: rgba(245, 245, 220, 0.589);
  border-bottom: 1px solid #3f51b5;

  color: black;
}

.btn:hover {
  background-color: #3f51b5;
  color: white;
}
